.site{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px 544px;
    grid-template-areas:
    "sidebar header header"
    "sidebar conten_1 content_2"
    ;
    /*grid-column-gap: 20px;
    grid-row-gap: 20px;*/
    /*grid-gap: 20px 50px;*/
    /*justify-items: stretch;*/
    /*align-items: stretch;*/
    /*justify-content: space-between;*/
    /*align-content: center;*/
    height: 1000px;
    background-color: lightslategray;
}

.header{
    grid-area: header;
    background-color: #FFFFFF;
}
.content_1{
    grid-area: content_1;
    background-color: lightskyblue;
    display: flex;
    margin-top: 32px;
    margin-left: 24px;
    margin-right: 24px;
}

.content_2{
    grid-area: content_2;
    background-color: lightskyblue;
    display: flex;
    margin-top: 32px;
    margin-left: 24px;
    margin-right: 24px;
}

.sidebar{
    grid-area: sidebar;
    background: #17139C;
}
