body{
    margin: 0;
    background: #1F1C26;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.offset{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    padding: 65px 0 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_link{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    margin-right: 40px;
    /* identical to box height */
    color: #F2F2F2;
}

.sign_in_btn{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #F2F2F2;
    padding: 0 3px 0 3px;
    border: solid #F2F2F2 1px;
}
.login_btn{
    background-color: #F24B88;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    padding: 1px 7px 1px 7px;
    /* identical to box height */
    color: #F2F2F2;
}


.plan{
    display: flex;
    justify-content: space-between;
}
.plan_left h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
    /* identical to box height */
    letter-spacing: 0.215em;
    color: #FFFFFF;
    margin-top: -25px;
}
.plan_left h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 43px;
    /* identical to box height */
    letter-spacing: 0.215em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin:-75px 0 0 7px;
}
.plan_left h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.36);
    margin-top: 64px
}
.plan .btn_free_left{
    background: #F24B88;
    border-radius: 10px;
    height: 70px;
    padding: 0 40px 0 40px;
    margin-right: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #FFFFFF;
}
.plan .plan_button{
    display: flex;
    flex-direction: row;
    margin-top: 110px;
}
.plan .btn_free_right{
    background: #F24B88;
    border-radius: 10px;
    height: 70px;
    padding: 0 40px 0 40px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #FFFFFF;
}

.plan_right{
    display: flex;
}

.inspired h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #FFFFFF;
}
.inspired h4{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.36);
}
.inspired h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #FFFFFF;
    margin: 7px 0 0 13px;
}
.inspired_png{
    display: flex;
    flex-direction: row;
}
.inspired .inspired_top{
    padding: 9px 15px 6px 15px;
    margin: 0 0 20px 25px;
    background: #332F3C;
    border-radius: 10px;
}
.inspired .inspired_bottom{
    padding: 9px 15px 6px 15px;
    margin-left: 25px;
    background: #332F3C;
    border-radius: 10px;
}

.training{
    margin-top: 150px;
}
.training_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.training_top h2{
    margin-bottom: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
}
.training_top h4{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 40px;
}

.training_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.training_bottom h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
}
.training_bottom h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.36);
}
.training_bottom .see_more_training{
    padding: 8px 12px 7px 12px;
    background: #F24B88;
    border-radius: 5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
}

.team{
    margin-top: 156px;
}
.team_top h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    text-transform: uppercase;
    margin-bottom: 70px;
    color: #FFFFFF;
}
.team_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 13px;
}

.trainers_top{
    display: flex;
    flex-direction: row;
}
.trainers_bottom{
    display: flex;
    flex-direction: row;
}

.team_bottom h2{
    margin-left: 12px;
    font-family: Poppins;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #0D0D0D;
}
.team_bottom h3{
    margin-left: 12px;
    font-family: Poppins;
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    text-transform: capitalize;
    color: #332F3C;
}
.team_bottom h4{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: rgba(13, 13, 13, 0.36);
}
.see_more_team{
    margin: 35px 0 0 150px;
    padding: 8px 12px 7px 12px;
    background: #F24B88;
    border-radius: 5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
}
.potencial{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    height: 382px;
    background: #332F3C;
}
.potencial h2{
    display: flex;
    justify-content: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.215em;
    color: #FFFFFF;
}
.potencial h4{
    display: flex;
    justify-content: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.potencial a{
    padding: 35px 100px 35px 100px;
    background: #F24B88;
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #FFFFFF;
}
.potencial .content_button{
    display: flex;
    justify-content: center;
}
.potencial .btn_left{
    height: 70px;
    padding: 0 40px 0 40px;
    margin-right: 30px;
    background: #F24B88;
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #FFFFFF;
}
.potencial .btn_right{
    height: 70px;
    padding: 0 40px 0 40px;
    background: #1F1C26;
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #FFFFFF;
}
.top{
    border: 1px solid #F2F2F2;
    margin-top: 57px;
}

.footer_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 37px;
}
.footer_top_info{
    margin-right: 80px;
}
.footer_top_touch{
    margin-right: 80px;
}
.footer_top h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #FFFFFF;
}

.footer_top h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}
.footer_top .subscribe{
    padding: 8px 12px 7px 12px;
    background: #F24B88;
    border-radius: 5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
} 
input[type=text]{
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 8px 45px 8px 120px;
    margin-bottom: 14px;
  }

.bottom{
    border: 1px solid #F2F2F2;
    margin-top: 15px;
}
.footer_bottom{
    display: flex;
    justify-content: space-between;
}
.footer_bottom h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    margin: 35px 0 34px 0;
    /* identical to box height */
    color: #FFFFFF;
}